@charset "UTF-8";
/**
 * @file fix-ie.css
 * Fixes for Internet Explorer – version 6 and below.
 *
 */

li a			{ display:inline-block; }
li a			{ display:block; }
#header-links	{ padding-bottom: 30px; }
hr.break		{ display: none; }
#content-top {
	background-image: none;
	background-color: white;
	border: 20px solid #2f2f2f;
	border-bottom: none; 
	margin: 14px 0 0 0;
	height: auto;
	overflow: visible;
}
#content-bottom { display: none; }
#content { 
	background-image: none;
	background-color: white;
	border: 20px solid #2f2f2f;
	border-top: none;
	margin: 0;
	padding: 1px 20px;
}
.breadcrumb							{ padding: 20px 20px 10px 20px; }
#title-group a						{ background: url(images/ie6/logo-ie6.png) no-repeat; }
#header-links						{ background: url(images/ie6/bg-nav-ie6.png) no-repeat; }
#irisslink							{ background: url(images/ie6/irissLogo-ie6.png) 100% 0 no-repeat !important; }
.meta li a,
#block-menu-menu-footermenu li a	{ display: inline; }
.my-heading a:link,
.my-heading a:visited				{ background: url(images/ie6/icn-headingArrows-ie6.png) -1px 9px no-repeat; }
#search-top							{ background: url(images/ie6/bg-searchbox-ie6.png) 11px 6px no-repeat; }
.my-heading a:link,
.my-heading a:visited				{ margin-left: -15px; }
.my-answer a						{ display: inline; } 
.front #page-headline				{ margin: 19px 0 0 0; }
.front h2							{ position: absolute; top: 178px; right: 60px; }
