@charset "UTF-8";
/**
 * @file fix-ie7.css
 * Fixes for Internet Explorer – version 7 only.
 *
 */


.view-cte-questions li a			{ display: inline-block; }
.view-cte-questions li a			{ display: block; }

hr.break							{ display: none; }
#header-links						{ padding-bottom: 30px; }
.my-heading a:link,
.my-heading a:visited				{ margin-left: -15px; }
.my-answer a,
.meta li a,
#block-menu-menu-footermenu li a	{ display: inline; }
.front #page-headline h1			{ line-height: 1.5em; padding: 4px 10px; }
.front h2							{ position: absolute; top: 167px; right: 70px; }