@charset "UTF-8";

/* @file style.css
 * General styles for Nitobe. http://drupal.org/projects/nitobe
 *
 * $Id: style.css,v 1.1.2.2 2009/08/01 17:58:31 shannonlucas Exp $
 */

/* ****************************************************************************
 * Anchor links
 * ************************************************************************* */
a:link, a:visited			{ color: #3b73b9; text-decoration: none; }
a:hover						{ color: #91a000; text-decoration: underline; }
a:focus						{ outline: #ccc 1px dotted; }

/* flag external links */
a[href^="http:"]			{ background: url(images/icn_external.png) no-repeat 100% 50%; padding-right: 19px; }
#ctefooter a[href^="http:"]	{ background-image: url(images/icn_external_dark.png); }

/* external link exceptions */
a[href^="http://toolkit.iriss.org.uk"],
#footer a, a.feed-icon		{ background-image: none; padding-right: 0; }

/* ****************************************************************************
 * Breaks and alignments
 * ************************************************************************* */
hr {
  border: none;
  height: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
}
.break {
  clear: both;
  display: block; 
}
.rule-bottom {
  background: #ccc url(images/background-light.gif) repeat 2px 0;
  border: 0;
  border-bottom: 1px solid #333;
  height: 5px;
  margin-bottom: 1em;
  margin-top: 0;
  padding: 0;
}
.rule-top {
  background: #ccc url(images/background-light.gif) repeat 2px 0;
  border: 0;
  border-top: 1px solid #333;
  height: 5px;
  margin-top: 0;
  margin-bottom: 1em;
  padding: 0;
}
.align-left { text-align: left; }
.align-right { text-align: right; }
.even { background-color: #fff; }
img.align-left {
  float: left;
  margin: 0 1em 1em 0;
  padding: 0;
}
img.align-right	{
  float: right;
  margin: 0 0 1em 1em;
}

/* ****************************************************************************
 * Form styles
 * ************************************************************************* */
fieldset {
  border: 1px solid #c8c8c8;
  padding: 1em;	
}
fieldset>legend {
  font-weight: bold;
  padding-right: 0.5em;	
}
fieldset>legend a:link { text-decoration: none; }
fieldset.collapsible>legend { border: 1px solid #c8c8c8; }
fieldset.collapsed>legend { border: 1px solid #c8c8c8; }
label { font-weight: bold; }
input[disabled='disabled'] {
	background-color: #aaa;
	color: #666;
	font-style: italic;
}

/* ****************************************************************************
 * General page structure
 * ************************************************************************* */
body.nitobe {
	/* The body class is necessary so that WYSIWYG editors that don't specify a
	 * background for their bodies don't inherit the Nitobe background. */
	background: #131416 url(images/bg.jpg) 50% 0 no-repeat;
	color: #333;
	padding-top: 90px;
	background-attachment: fixed;
}
body.nitobe.admin-menu { padding-top: 109px; background-position: 50% 30px; }
#page-wrapper {
	position: relative;
	margin: 0 auto;
	padding: 0;
	width: 960px;
}
#content-top,
#content-bottom {
	background: url(images/bg-contentPanel.png) 0 0 no-repeat;
	margin: 0 -10px;
	height: 58px;
	overflow: visible;
}
#content-bottom { background-position: -1960px 0; }
#content { 
	background: url(images/bg-contentPanel.png) -980px 0 repeat-y;
	margin: 0 -10px;
	padding: 1px 50px;
	position: relative;
}
#content-inner { background-color: white; }
.breadcrumb {
	padding: 40px 50px 0 50px;
	font-size: .86em;
	color: #888;
}

/* ****************************************************************************
 * Sidebar
 * ************************************************************************* */
#right-sidebar {
	float: right;
	width: 202px;
	padding-top: 9px;
}
#sidebar-true {
	float: right;
	width: 658px;
	margin-right: 20px;
}

/* ****************************************************************************
 * Header area
 * ************************************************************************* */
#title-group { float: left; height: 0; }
#site-title { display: inline; text-indent: -9999px; }
#header-area #title-group #site-title { display: inline-block; line-height: 1em; }
#title-group a {
	background: url(images/logo.png) no-repeat 0 0;
	position: absolute;
	top: -65px;
	left: -1px;
	display: block;
	overflow: hidden;
	width: 502px;
	height: 56px;
}
#title-group a img { display: none; }

/* ****************************************************************************
 * Header navigation and tabs
 * ************************************************************************* */
#header-links {
	background: url(images/bg-nav.png) no-repeat;
	padding: 0 10px 80px 10px;
	margin: 0 -10px;
}

/* ****************************************************************************
 * Primary navigation
 * ************************************************************************* */
ul#primary-nav {
	width: 100%;
	color: white;
	margin: 0;
	padding: 0;
}
ul#primary-nav li { display: inline; }
ul#primary-nav li a:link,
ul#primary-nav li a:visited {
	font: bold 18px/50px 'Helvetica Neue',helvetica,Arial,sans-serif;
	color: white;
	float: left;
	font-weight: bold;
	margin: 10px 0 0 0;
	padding-left: 20px;
	width: 131px;
	text-decoration: none;
	text-shadow: #000 0 1px 2px;
}
ul#primary-nav li a:active { position: relative; top: 1px;}
ul#primary-nav li a:hover { color: #c4dbff; }
ul#primary-nav li.first a:link,
ul#primary-nav li.first a:visited { 
	width: 138px; 
	padding-left: 20px; 
	margin-right: 20px;
}
ul#primary-nav li.last a:link,
ul#primary-nav li.last a:visited { 
	width: 138px; 
	padding-left: 20px; 
	margin-left: 20px;
}
ul#primary-nav li.active a,
ul#primary-nav li.active a.active,
ul#primary-nav li.active-trail a,
ul#primary-nav li.active-trail a.active { color: #c4dbff; }

/* ****************************************************************************
 * Primary tabs
 * ************************************************************************* */
.tabs.primary {
  background: #ccc url(images/background-light.gif) repeat;
  border-bottom: 1px solid #333;
  color: #333;
  margin: 0;
  padding: 0;
}
.tabs.primary.has-secondary { border: none; }

.tabs.primary li {
  display: inline;
  line-height: 2.2em;
}

.tabs.primary li a:link, 
.tabs.primary li a:hover, 
.tabs.primary li a:visited {
  background: transparent;
  border: none;
  color: #333;
  float: left;
  font-weight: bold;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  text-transform: lowercase;
}

.tabs.primary li a:hover {
  background: #333 url(images/background-medium.gif) repeat;
  color: #000;
}

.tabs.primary li.active a,
.tabs.primary li.active a.active,
.tabs.primary li.active-trail a,
.tabs.primary li.active-trail a.active {
  background: #333 url(images/background-dark.gif) repeat;
  color: #fff;
}

.tabs.primary li.active a:hover,
.tabs.primary li.active a.active:hover {
  background: #333 url(images/background-dark.gif) repeat;
  color: #fff;
}

.tabs.primary li.active a {
  background: #333 url(images/background-dark.gif) repeat;
  color: #fff;
}

/* ****************************************************************************
 * Secondary tabs
 * ************************************************************************* */
ul#secondary-nav,
.tabs.secondary {
	background: #333 url(images/background-dark.gif) repeat;
	border-bottom: 1px solid #333;
	color: #c4dbff;
	display: block;   
	height: auto;
	line-height: normal;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	padding: 0 0 2px 0;
	text-transform: lowercase;
	white-space: normal;
	text-shadow: #000 0 1px 1px;
	opacity: 0.6;
}
ul#secondary-nav { margin: 16px 0 -75px 0; }
ul#secondary-nav li,
.tabs.secondary li {
  border: none;
  line-height: 2.2em;
  margin: 0 0;
  padding: 0;
}
ul#secondary-nav li a,
.tabs.secondary li a {
  background: transparent;
  border: none;
  color: white;
  padding: 0 10px;
}
ul#secondary-nav li a { padding: 0 20px; }
ul#secondary-nav li a.active,
.tabs.secondary li a.active { color: #c4dbff; }
ul#secondary-nav li a:active { position: relative; top: 1px;}
ul#secondary-nav li a:hover,
.tabs.secondary li a:hover { color: #c4dbff; text-decoration: none; }
ul#secondary-nav li.active a:hover,
.tabs.secondary li.active a:hover { color: #c4dbff; }

/* ****************************************************************************
 * Pager
 * ************************************************************************* */
ul.pager {
	font-size: .86em;
	line-height: 250%;
	margin: 1em 1em;
}
ul.pager li {
	font-weight: bold;
	margin: 0;
	padding: 0;
}
ul.pager li a {
	border: 1px solid #ccc;
	color: #3b73b9;
	padding: .5em .8em;
}
ul.pager li a:hover {
	background-color: #6c96cb;
	border-color: #3b73b9;
	color: white;
	text-decoration: none;
}
ul.pager li.pager-current { color: #111; }

/* ****************************************************************************
 * Page headlines 
 * ************************************************************************* */
#page-headline { border-bottom: 1px solid #e8e8e8; margin-bottom: 0.5em; }
#page-headline h1#page-title { }
#page-headline .timestamp {
	color: #ccc;
	float: left;
	font-size: 2em;
	font-weight: normal;
	letter-spacing: -1px;
	line-height: 1em;
	margin: 0;
	padding: 0;
	text-align: right;
	text-transform: lowercase;
	vertical-align: bottom;
	width: 33%;
}

/* ****************************************************************************
 * Nodes
 * ************************************************************************* */
.node					{ clear: both; padding-bottom: 2em; }
.node th 				{ border: 1px solid #014d93; }
.node td 				{ border: 1px solid #999; }
.node .odd td 			{ background-color: #eee; }
.teaser .content p 		{ margin-bottom: 0; }
.readmore 				{ text-transform: lowercase; }
.teaser .content p+p 	{ margin-top: 20px; }
.node .node-headline 	{ padding: 0; width: 100%; }
.node h2 {
	color: #3B73B9;
	margin-top: -1em;
	line-height: 1.1em;
}
.node .node-headline h2 {
  display: inline-block;
  float: left;
  line-height: 1em;
  margin: 0;
  padding: 0;
  text-transform: lowercase;
  width: 66%;
}
.node .node-headline {
  border-bottom: 1px solid #c8c8c8;
  margin-bottom: 0.5em;
}
.node .node-headline h2 a:link, .node .node-headline h2 a:visited,
h3.searchresult a:link, h3.searchresult a:visited {
  color: #222;
  font-weight: normal;
  text-decoration: none;
}
.node .node-headline h2 a:hover,
h3.searchresult a:hover {
  color: #ed1a09;
  font-weight: normal;
  text-decoration: none;
}
.node .node-headline .timestamp {
  color: #c8c8c8;
  float: left;
  font-size: 2em;
  font-weight: normal;
  letter-spacing: -1px;
  line-height: 1em;
  margin: 0;
  padding: 0;
  text-align: right;
  text-transform: lowercase;
  vertical-align: bottom;
  width: 33%;
}
.node-author {
	font-size: .86em;
	color: #999;
	font-style: italic;
	margin: -0.4em 0 0.4em 0;
	text-align: right;
	text-transform: lowercase;
}
.node .content .user-picture {
	display: inline-block;
	float: right;
	margin: 0 0 0 0.75em;
	padding: 0;
}
.node .content { clear: both; padding: 0; }
.meta {
	border-top: 1px solid #e8e8e8;
	color: #888;
	font-size: .86em;
	font-style: italic;
	padding: 3px 0;
	margin-top: 1.2em;
	text-align: right;
	text-transform: lowercase;
}
.meta ul.inline,
.meta ul.inline li {
	display: inline;
	list-style-image: none;
	margin: 0;
	padding: 0;
}
.post-comment-help	{ color: #888; text-align: right; }
.print-link			{ font-size: .86em; text-transform: lowercase; }
.field				{ margin: 1em 0; }
thead th, thead td {
	background: #3b73b9 url(images/bg-thead.png) 0 50% repeat-x;
	border-bottom: 1px solid #3f5882;
	color: white;
	text-shadow: #3063ac 0 1px 2px;
}

/* ****************************************************************************
 * Footer
 * ************************************************************************* */
#footer {
	position: relative;
	font-size: 10px;
	color: white;
	padding: 30px 178px 20px 0;
}
#footer p							{ margin-bottom: 10px; }
#block-menu-menu-footermenu a,
#block-menu-menu-footermenu a:visited,
#footer a:link, #footer a:visited	{ color: white; text-decoration: underline; }
#block-menu-menu-footermenu a:hover,
#footer a:hover						{ color: #c9d74c; text-decoration: underline; }
#footer #copyright					{ font-weight: bold; font-size: 12px; }
#irisslink {
	background: url(images/icn-irissLogo.png) 100% 0 no-repeat !important;
	cursor: pointer;
	text-indent: -9999px;
	position: absolute;
	top: 30px;
	right: 0;
	display: block;
	width: 158px;
	height: 61px;
}

/* footer nav */
#block-menu-menu-footermenu {
	background: #1e1e1e;
	border: 1px solid #333;
	padding: 10px 20px 8px;
}
#block-menu-menu-footermenu ul.menu li {
	list-style-image: none;
	display: inline;
	border: 2px solid #444;
	border-width: 0 2px 0 0;
	padding-right: 9px;
	margin-right: 9px;
}
#block-menu-menu-footermenu ul.menu li.last {
	border: none;
	margin-right: 0;
	padding-right: 0;
}
#block-menu-menu-footermenu a,
#block-menu-menu-footermenu a:visited	{ text-decoration: none; }
#block-menu-menu-footermenu a:hover		{ text-decoration: underline; }
#ctefooter .block						{ margin: 0; }

/* ****************************************************************************
 * The bottom blocks area
 * ************************************************************************* */
#bottom-blocks { margin-top: 1.5em; }

/* ****************************************************************************
 * Messages and help
 * ************************************************************************* */
div.help, div.messages.status, div.messages.error, div.messages.warning {
	font-style: normal;
	padding: 0.8em;
	margin-bottom: 1.6em;
	border: 1px solid #ddd;
}
div.help p, div.messages.status p, div.messages.error p { margin-bottom: 0; }
div.help p+p, div.messages.status p+p, div.messages.error p+p { margin-top: 2em; }
div.help { background: #e5ecf9; color:#222; }
div.messages.status {
	background: #cceecc;
	border-color:#c6d880;
	color:#222;
}
div.messages.error {
	background: #eeb9b9;
	border-color:#fbc2c4;
	color:#222;
}
div.messages.warning {
	background-color: #ffffdd;
	border: 1px solid #f0c020;
	color: #222;
}

/* ****************************************************************************
 * Blocks
 * ************************************************************************* */
.block { margin-bottom: 1.5em; }

div.block h2, div.block-block h2,
div.block h3, div.block-block h3 {
	border-bottom: 1px solid #e8e8e8;
	color: #555;
	font-size: 1.5em;
	font-weight: normal;
	margin: .5em 0 0 0;
	padding-bottom: 3px;
	text-transform: lowercase;
}
.block ul, .block ul.menu {
  list-style-position: inside;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.block ul li, .block ul.menu li {
	font-size: .86em;
	line-height: 2em;
	border-bottom: 1px solid #f2f2f2;
	list-style-position: inside;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}
.block ul.menu li ul.menu li { margin-left: 1em; }
.block ul.menu li ul.menu li.last,
.block ul.menu li ul.menu li ul.menu li.last { border: 0; }
.block ul li li, .block ul.menu li li { font-size: 1em; }

/* ****************************************************************************
 * Comment Core
 * ************************************************************************* */
.indented { margin-left: 25px; } /* LTR */

.comment { margin-bottom: 1.5em; }

.comment .content {
  border: 1px solid #cccccc;
  border-bottom: none;
  padding: 1em 1em 0 1em;
}

.comment .content h3 a {
  color: #222;
  text-decoration: none;
}

.comment .content h3 a:hover { color: #ed1a09; }

.comment .content .user-picture {
  float: left;
  margin: 0 0.75em 0 0;
}

.comment.odd .content { background-color: #eeeeee; }

.comment.even .content { background: #fff; }

.comment.original-author .content { background: #e5ecf9; }

/* ****************************************************************************
 * Comment meta data
 * ************************************************************************* */
.comment .comment-meta {
  margin: 0;
  padding: 9px 1em 0 1em;
}

.comment .comment-meta .author-date { font-style: italic; }

.comment .comment-meta .author-date a { font-weight: bold; }

.comment .comment-meta ul.links { display: block; }

.comment .comment-meta ul.links li {
  margin: 0;
  padding: 0;
}

.comment.even .comment-meta {
  background: #fff url(images/comment-even.gif) no-repeat left top;
}

.comment.odd .comment-meta {
  background: #fff url(images/comment-odd.gif) no-repeat left top;
}

.comment.original-author .comment-meta {
  background: #fff url(images/comment-author.gif) no-repeat left top;
}

.comment-unpublished { background: #fff4f4; }
  
.preview .comment { background: #ffffea; }

/* ****************************************************************************
 * Comment controls
 * ************************************************************************* */
#comment-controls, #comment-controls-1 { margin-bottom: 1.5em; }

#comment-controls .description, #comment-controls-1 .description {
  font-style: italic;
  padding-top: 0.5em;
}

/* ****************************************************************************
 * Book tweaks
 * ************************************************************************* */
div.book-navigation { margin-bottom: 1.5em; }

div.book-navigation ul.menu {
  border-color: #ccc;
  list-style-position: inside;
  margin: 0;
  padding: 0 0 0.5em 0;
  width: 100%;
}

div.book-navigation div.page-links {
  border-color: #ccc;
  padding: 0;
  margin: 0;
  text-align: center;
}

/* ****************************************************************************
 * Forum tweaks
 * ************************************************************************* */
div.forum-topic-navigation {
  border-color: #ccc;
  margin-bottom: 1.5em;
}

div.forum-topic-navigation a.topic-previous { 
  float: left;
  text-align: left;
  width: 50%;
}

div.forum-topic-navigation a.topic-next {
  float: right;
  text-align: right;
  width: 50%;
}

/* ****************************************************************************
 * Theme search box
 * ************************************************************************* */
#search-top #search-theme-form div #search .form-item label { display: none; }
#search-top {
	position: absolute;
	top: -60px;
	right: -5px;
	width: 260px;
	height: 40px;
	text-align: right;
	background: url(images/bg-searchbox.png) 100% 0 no-repeat;
}
#search-top form { margin: 9px 10px 0 0; }
#search-top .form-submit { 
	width: 30px;
	margin-left: 5px;
	background-color: #dadada; /* forces Opera to style form element */
	opacity: 0;
}
#search-top .form-text {
	width: 189px;
	height: 18px;
	border: none;
	background-color: white;
	color: #666;
}

/* hide search info on results pages */
.search-info { display: none; }

/* ****************************************************************************
 * Maintenance page
 * ************************************************************************* */
body.in-maintenance #page-wrapper #content-area #content {
  padding-bottom: 5em;
  margin-bottom: 5em;  
}

/* ****************************************************************************
 * Admin area styles
 * ************************************************************************* */
div.admin-panel { margin-bottom: 2em; }

div.admin-panel h3 { margin-bottom: 0.25em; }

/* ****************************************************************************
 * Admin formatting fix from the NineSixty theme.
 * ************************************************************************* */
div.admin-panel { padding: 0; }
div.admin-panel .body { padding: 0 !important; }
div.admin .left, div.admin .right {
	margin-left: 0;
	margin-right: 0;
	width: 50%;
}
div.admin .right .admin-panel { margin-left: 10px; }

/* ****************************************************************************
 * Step questions and resources
 * ************************************************************************* */
.view-cte-questions li > .views-field-title				{ font: bold 18px/1.11em 'Helvetica Neue',helvetica,Arial,sans-serif; margin: 2em 0 1em 0; }
.view-cte-questions li > .views-field-title.my-heading	{ margin: 0; }
.view-cte-questions ul li								{ border: none; margin-bottom: 3px; }
.view-cte-questions li ul,
.view-cte-questions p									{ margin: 10px 0; }
.view-cte-questions li li {
	margin: 0 0 0 20px;
	padding: 0 0 0 20px;
	list-style: disc outside;
	border: none;
}
.view-cte-questions li.views-row-last					{ border: none; }
.my-heading span {
	display: block;
	background: #f0f0f0 url(images/bg-headings.png) 0 50% repeat-x;
	border: 1px solid #999;
	color: #333;
	font: bold 18px/1.11em 'Helvetica Neue',helvetica,Arial,sans-serif;
	text-shadow: #fff 0 -1px 2px;
	-webkit-box-shadow: 0px 2px 2px #ddd;
	-moz-box-shadow: 0px 2px 2px #ddd;
	box-shadow: 0px 2px 2px #ddd;
}
.my-heading a:link,
.my-heading a:visited {
	background: url(images/icn-headingArrows.png) -1px 9px no-repeat;
	display: block;
	color: #333;
	padding: 19px 19px 19px 59px;
}
.my-heading a:active		{ position: relative; top: 1px; }
.my-heading a:hover			{ text-decoration: none; color: #2a66aa; }
.my-heading.open a:link,
.my-heading.open a:visited	{ background-position: -1px -191px; color: #2a66aa; }
.my-answer {
	font-size: 1.17em;
	color: #111;
	background-color: #f0f0f0;
	border: 1px solid #ddd;
	padding: 0 19px;
	margin: 5px 0;
}
.my-answer p,
.my-answer ul li			{ line-height: 1.5em; }
.my-answer > div			{ margin: 1.5em 0; }
.my-answer .views-field-body-1 {
	border: 1px solid #ccc;
	background-color: #f8f8f8;
	padding: 9px 19px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.my-answer .views-field-body-1 label {
	font-size: 1.1em;
	background-color: #ddd;
	display: block;
	padding: 6px 19px;
	margin: -10px -20px 0 -20px;
	border: 1px solid #ccc;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.my-answer .views-field-body-1 table		{ margin: 1.5em 0; }
.my-answer .views-field-body-1 .odd td		{ background-color: #ddd; }
.my-answer .views-field-body-1 .even td 	{ background-color: #f8f8f8; }
.field-field-activity-glossaryterms {
	border: 1px solid #e8e8e8;
	padding: 14px 19px 19px 19px;
	margin: 1.5em 0;
	font-size: .86em;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.views-field-field-question-activities-nid {
	background: url(images/bg-activity.png) -1px 50% no-repeat;
	padding: 10px 0 10px 38px;
}
.views-field-field-question-activities-nid *,
.field-field-activity-glossaryterms .field-items * { display: inline; }
.field-field-activity-glossaryterms a {
	margin-right: 5px;
	padding-right: 6px;
	border-right: 1px solid #ddd;
	
}
.field-field-activity-glossaryterms a.last { border: none; padding-right: 0; }

/* links and further reading */
.views-field-field-further-reading-nid,
.views-field-field-links-nid				{ border-top: 1px solid #ccc; padding-top: 1.5em; }
.views-field-field-further-reading-nid p,
.view-id-field_links p						{ margin: 0; }
.views-field-field-further-reading-nid .views-field-title,
.view-id-field_links .views-field-title		{ font-style: italic; font-weight: bold; }
.my-answer div.views-row					{ margin: 1em 0; }
.filedownload {
	background: url(images/bg-file.png) -1px 50% no-repeat;
	font-weight: bold;
	padding: 10px 0 10px 38px;
	margin: 1.5em 0;
}
.filedownload a						{ font-weight: normal; }
td.views-field-title				{ font-weight: bold; }
.views-field-field-link-note-value	{ line-height: 1.5em; }

/* ****************************************************************************
 * Front-page styles
 * ************************************************************************* */
.front span.print-link,
.front .breadcrumb { display: none; }
.front blockquote {
	/*background: url(images/bg-pullquotes.png) 0 0 no-repeat;*/
	text-align: right;
	border: none;
	padding: 12px 40px 0 40px;
	font-size: 1.29em;
	line-height: 1.4em;
	margin: 2em 0;
}
.front blockquote p { margin: 0; }
.front blockquote cite { font-size: .6em; line-height: 3em; }
.front #page-headline {
	background: url(images/bg-front.jpg) no-repeat;
	text-align: right;
	border: 1px solid #acc4e1;
	padding: 123px 19px 0 19px;
	width: 840px;
	height: 125px;
	margin: -8px 0 1em 0;
}

/* fix these later! */
.front #page-headline h1 {
	visibility: hidden;
	background-color: #3b73b9;
	color: white;
	font-size: 28px;
	padding: 2px 10px 3px;
	display: inline;
}
.front h2 {
	visibility: hidden;
	position: absolute;
	top: 153px;
	right: 70px;
	background-color: #3b73b9;
	color: white;
	padding: 7px 10px 8px;
	margin-top: 0;
}
/* hide alerts from non-admins */
body.not-logged-in .messages {
	display: none;
}

/* ****************************************************************************
 * Front-page , logged in
 * ************************************************************************* */
.front.logged-in #page-headline {
	background: none;
	text-align: left;
	border: none;
	padding: 0;
	width: auto;
	height: auto;
	margin: 0;
}
.front.logged-in #page-headline h1 {
	background-color: inherit;
	color: #3b73b9;
	font-size: 2.17em;
	padding: 0;
	display: block;
}
.front.logged-in h2 {
	position: static;
	background-color: inherit;
	color: inherit;
	padding: 0;
}

/* ****************************************************************************
 * Modal dialog
 * ************************************************************************* */
.ui-dialog .meta,
.ui-dialog .print-link,
.ui-dialog .node-author,
.ui-dialog #right-sidebar,
.ui-dialog .break,
.ui-dialog #tabs-wrapper { display: none; }
.ui-dialog #sidebar-true { margin: 0; width: auto; float: none; }
.ui-dialog .node { font-size: .93em; }

.ui-dialog-overlay {
	background-color: black;
	opacity: 0.5;
}
.ui-dialog  h1,
.ui-dialog  #page-headline {
	border: none;
	padding-bottom: 0;
	margin: 0;
}
.ui-dialog  h1 {
	font-size: 1.7em;
	line-height: 1.3em;
}
.ui-dialog {
	background-color: white;
	border: 5px solid #dadada;
	position: relative;
}
.ui-dialog #content-inner {
	padding: 60px 20px 0 20px;
}
.ui-dialog-title { 
	color: white;
	font-weight: normal;
}
.ui-dialog-titlebar {
	margin: 0;
	padding: .5em 20px;
	color: #1c94c4;
	background: #3b73b9 url(images/bg-thead.png) 0 50% repeat-x;
	border-bottom: 1px solid #155a9d;
	font-size: 1em;
	font-weight: bold;
	position: relative;
}
.ui-dialog-titlebar-close {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
	background: url(images/ui-images/fff_11x11_icon_close.png) 0 0 no-repeat;
	position: absolute;
	right: 10px;
	top: .8em;
	width: 11px;
	height: 11px;
	z-index: 100;
}
.ui-dialog-titlebar-close-hover, 
.ui-dialog-titlebar-close:hover,
.ui-dialog-titlebar-close:active {
	background: url(images/ui-images/fff_11x11_icon_close.png) 0 0 no-repeat;
}
.ui-dialog-titlebar-close span { display: none; }
.ui-resizable-handle {
	position: absolute;
	font-size: 0.1px;
	z-index: 99999;
}
.ui-resizable .ui-resizable-handle { display: block;  }
body .ui-resizable-disabled .ui-resizable-handle { display: none; } /* use 'body' to make it more specific (css order) */
body .ui-resizable-autohide .ui-resizable-handle { display: none; } /* use 'body' to make it more specific (css order) */
.ui-resizable-n { 
	cursor: n-resize; 
	height: 7px; 
	width: 100%; 
	top: -5px; 
	left: 0px;  
}
.ui-resizable-s { 
	cursor: s-resize; 
	height: 7px; 
	width: 100%; 
	bottom: -5px; 
	left: 0px; 
}
.ui-resizable-e { 
	cursor: e-resize; 
	width: 7px; 
	right: -5px; 
	top: 0px; 
	height: 100%; 
}
.ui-resizable-w { 
	cursor: w-resize; 
	width: 7px; 
	left: -5px; 
	top: 0px; 
	height: 100%;
}
.ui-resizable-se { 
	cursor: se-resize; 
	width: 13px; 
	height: 13px; 
	right: 0px; 
	bottom: 0px; 
	background: url(images/ui-images/222222_11x11_icon_resize_se.gif) no-repeat 0 0;
}
.ui-resizable-sw { 
	cursor: sw-resize; 
	width: 9px; 
	height: 9px; 
	left: 0px; 
	bottom: 0px;  
}
.ui-resizable-nw { 
	cursor: nw-resize; 
	width: 9px; 
	height: 9px; 
	left: 0px; 
	top: 0px; 
}
.ui-resizable-ne { 
	cursor: ne-resize; 
	width: 9px; 
	height: 9px; 
	right: 0px; 
	top: 0px; 
}
.ui-dialog-buttonpane {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: left;
	border-top: 1px solid #dddddd;
	background: #eeeeee;
}
.ui-dialog-buttonpane button {
	margin: .5em 0 .5em 8px;
	color: #1c94c4;
	background: #f6f6f6 url(images/ui-images/f6f6f6_40x100_textures_02_glass_100.png) 0 50% repeat-x;
	font-size: 1em;
	border: 1px solid #cccccc;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	line-height: 1.4em;
}
.ui-dialog-buttonpane button:hover {
	color: #c77405;
	background: #fdf5ce url(images/ui-images/fdf5ce_40x100_textures_02_glass_100.png) 0 50% repeat-x;
	border: 1px solid #fbcb09;
}
.ui-dialog-buttonpane button:active {
	color: #eb8f00;
	background: #ffffff url(images/ui-images/ffffff_40x100_textures_02_glass_65.png) 0 50% repeat-x;
	border: 1px solid #fbd850;
}
.ui-dialog.ui-draggable .ui-dialog-titlebar,
.ui-dialog.ui-draggable .ui-dialog-titlebar { cursor: move; }

/* ****************************************************************************
 * Portal referrer
 * ************************************************************************* */
.portal-referrer {
	margin-bottom: .25em;
	background-color: #d2e9ff;
	border: 1px solid #8ca4d4;
	color: #0d2600;
	padding: 9px;
	font-size: .9em;
}
.portal-referrer p,
.portal-referrer .block { margin: 0; }

/* ****************************************************************************
 * Survey promo
 * ************************************************************************* */
.survey-promo {
	/*font-family: "comic sans ms", sans-serif;*/
	color: black;
	position: relative;
	top: .5em;
	font-size: 1.14em;
	line-height: 1.31em;
	background: white url(images/bg-survey.png) no-repeat -1px -1px;
	margin: 0 auto;
	border: 1px solid black;
	padding: 14px 19px 0 210px;
	width: 497px; /*728*/
	height: 74px; /*90*/
	-webkit-box-shadow: 0 0 8px rgba(0,0,0,0.5);
}
.survey-promo p {
	margin-bottom: 0;
}
.survey-promo a {
	color: black;
	text-decoration: underline;
	position: absolute;
	top: 0;
	left: 0;
	background: none;
	padding: 0;
	font-weight: bold;
	display: block;
	padding: 54px 0 0 210px;
	width: 518px;
	height: 36px;
}
.survey-dialog p,
.survey-dialog h3 {
	padding: 0 20px;
}
.survey-dialog h3 {
	margin: 1.3em 0 1em;
	font-size: 1.5em;
}
.survey-dialog a {
	background: none;
	padding: 0;
}




